.breadcrumb>li{
display: inline;
}
.breadcrum li.attribute a{
color: grey;
}
.breadcrumb .location a::before{
content: "/";

}
.breadcrumb .location a::after{
content: "x";
color: red;
font-size: 10px;
vertical-align: super;
}